{
    admin :2019
    metrics
    debug
    servers {
        log_credentials
    }
}

(global-encode) {
    encode {
        zstd
        gzip
    } 
}

(default_https_header) {
	header {
		Strict-Transport-Security "max-age=31536000"
		X-Content-Type-Options "nosniff"
		Content-Security-Policy "default-src 'self'; frame-ancestors 'none'"
		X-Frame-Options "DENY"
		X-Robots-Tag "noindex, nofollow"
		Referrer-Policy "strict-origin-when-cross-origin"
		-Server
		-Via
	}
}

:80


