name: Build and Publish 2.11 Docker Linux image

on:
  workflow_dispatch:
  push:
    branches: [ main ]
    paths: 
       - '2.11/**'

jobs:
  docker-linux-build:
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout
        uses: actions/checkout@v6
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      -
        name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      -
        name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.CR_PAT }}
      -
        name: Build and push 2.11
        id: docker_build_2_11
        uses: docker/build-push-action@v6
        with:
          context: ./2.11
          file: ./2.11/Dockerfile-alpine
          platforms: linux/amd64,linux/arm/v6,linux/arm/v7,linux/arm64,linux/ppc64le,linux/s390x
          push: true
          cache-from: type=gha
          cache-to: type=gha,mode=max
          tags: |
            zxavier/caddy:mainline
            ghcr.io/z-xavier/caddy:mainline
            zxavier/caddy:2.11
            zxavier/caddy:2.11.0-beta.1
            ghcr.io/z-xavier/caddy:2.11
            ghcr.io/z-xavier/caddy:2.11.0-beta.1
      -
         name: Update Hub description
         uses: peter-evans/dockerhub-description@v5
         with:
           username: ${{ secrets.DOCKERHUB_USERNAME }}
           password: ${{ secrets.DOCKERHUB_PASSWORD }}
           repository: zxavier/caddy
